@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #f0f4f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 1.3em;
  font-weight: 600;
}
h2 {
  font-size: 1.2em;
  font-weight: 600;
}
input {
  border: 1px solid #e1e3e1;
  border-radius: 1rem;
  padding: 0.2em 1em;
}
button {
  border-radius: 8px;
  border: 2px solid #e1e3e1;
  padding: 0 0.5em;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #57575a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.contact-list li:not(:last-child) {
  border-bottom: 1px solid #e1e3e1;
}
